.project {
    height: 100%;

    .title {
        text-align: center;
    }

    .img-container {
        height: 600px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 2px solid #e5e5e5;
        border-radius: 10px;
        width: fit-content;
        margin: 0 auto;
        display: block;
        outline: none;
        .img {
            max-width:100%;
            height: auto;
            cursor: pointer;
        }
    }
    
    .text {
        margin-top: 20px;
    }    
    .tag-list{
        margin-top: 20px;
        .tag {   
            margin: 0 7px;
            padding: 5px 10px;
            color: #d8d8d8;
            border: 1px solid white;
            border-radius: 3px;
            background-color: #21707a;
            font-size: 17px;
            box-sizing: border-box;
            display: inline-block;
            margin-bottom: 10px;
        }
    }
}

